{% load static %}

<!-- Start Header -->
<div class="header" id="header">
    <div class="container">
      <a href="main.html" class="logo"><i class="fa-solid fa-book-open icon"></i> Chapterfly</a
      >

      <ul class="main-nav">
        <li><a href="main.html/#footer">Contact us</a></li>
        <li><a href="">Account</a></li>
        <li><a href="LoginSignup.html">Login / Signup</a></li>
        <li><a href="{% url 'cart' %}">My cart</a></li>
        <li><a href="{% url 'view' %}" class="discover">Discover</a></li>
      </ul>
    </div>
  </div>
  <!-- End Header -->