{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>account</title>
    <link rel="stylesheet" href="{% static 'styles/account.css'%}">
<div id="bd-title"><h2 class="main-title">Profile</h2></div>
<div class="profileBody container">
    <div id="userProfile" class="container">
        <!--profile settings-->
        <table>
            <thead>
                <div id="profileSection">
                    <div id="profilePic">
                        <img id="profileImg" src="{% static 'images/profilePic.jpg' %}" alt="Profile Picture">
                    </div>
                    <td><h2 id="username-profile">{{ name|default:'user'|capfirst }}</h2></td>
                </div>
            </thead>
            <tfoot>
                <button id="changePhotoBtn" onclick="changePhoto()">Choose image</button>
            </tfoot>
        </table>
    </div>
</div>
<h3 id="manage-book" class="main-title">Your books</h3>
<div class="profileBody">
    <div id="manageBooks" class="container"></div>
    <div class="container" id="bookshelf">
        <section id="borrowed-books">
            <h2 class="borrowed-title">Borrowed Books</h2>
            <div id="borrowed-books-list" class="container">
                <!-- The books will be dynamically added here -->
            </div>
        </section>
    </div>
</div>
<div class="container" id="bookshelf">
    <button id="log-out" onclick="logout()">Log Out</button>
</div>
{% endblock content %}

{% block extra_scripts %}
{% comment %}<script src="{% static 'javascript/account.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        getPhoto();
    });
</script>{% endcomment %}
{% endblock extra_scripts %}
