{% extends 'base.html' %}

{% load static %}

{% block content %}
    <title>Add a Book</title>
    <link rel="stylesheet" href="{% static 'styles/add_book.css' %}" />
    <br />
    <!-- Add new books form -->
    <h2 class="main-title">Add New Book</h2>
    <form class="AddingBook" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form}}
      <!-- <label for="bookId">Book ID:</label>
      <input type="text" id="bookId" name="bookId" />
      <br />
      <label for="bookName">Book Name:</label>
      <input type="text" id="bookName" name="bookName" maxlength="50" />
      <br />
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" maxlength="20" />
      <br />
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" maxlength="30" />
      <br />
      <label for="price">Price:</label>
      <input type="text" id="price" name="price" maxlength="10" />
      <br />
      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        class="description"
      ></textarea> -->
      <br />
      <button type="submit" class="AddingBookBtn" id="AddingBookBtn" name="add_book">
        Add Book
      </button>
    </form>
    <br />
    <h2 class="main-title">Add Category</h2>
    <form class="AddingBook" method="POST">
      {% csrf_token %}
      
      {{formCategory}}
      <button type="submit" class="AddingBookBtn" name="add_category">
        Save</button>
    </form>
    <!-- <script src="{% static 'javascript/add_book.js' %}"></script> -->
{% endblock content %}
