{% extends 'base.html' %}

{% load static %}

{% block content %}
<title>My Cart</title>
<!-- Style sheet -->
<link rel="stylesheet" href="{% static 'styles/cart.css' %}"/>

<div>
    <br>
    <br>
    <div class="main-container container">
        <div class="row cart">
            <!-- ::before -->
            <!-- <form action="" method=""> -->
            <input type="hidden" name="_token">
            <div id="content" class="col-sm-12">
                <h2 class="title main-title">Books Cart</h2>
                <div class="table-responsive form-group" id="cart_cont">
                    <!-- Cart items will be dynamically added here -->
                    <p class="empty">Your books cart is empty!</p>
                </div>
                <div class="row">
                    <!-- ::before -->
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="text-right">
                                    <strong>Count items:</strong>
                                </td>
                                <td class="text-right">
                                    <span id="cart_number">0</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <strong>Total:</strong>
                                </td>
                                <td class="text-right">
                                    <span id="cart_price">0 LE</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- ::after -->
                </div>
                <!-- <div class="buttons" id="footer_cart">
                    <div class="pull-left">
                        <a href="main.html" class="btn btn-primary">Back to Home</a>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-checkout pull-right" onclick="checkout()">Checkout</button>
                    </div>
                </div> -->
            </div>
            <!-- </form> -->
            <!-- ::after -->
        </div>
    </div>
    <!-- ::after -->
    <!-- checkout -->
    <form action="" method="POST">
        {% csrf_token %}
        <div class="checkout">
            <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h5 class="mb-0 h5">Checkout</h5>
                        </div>

                        <p class="small mb-2">Card type</p>
                        <a href="#!" type="submit" class="text-white"><i
                                class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                        <a href="#!" type="submit" class="text-white"><i
                                class="fab fa-cc-visa fa-2x me-2"></i></a>
                        <a href="#!" type="submit" class="text-white"><i
                                class="fab fa-cc-amex fa-2x me-2"></i></a>
                        <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                        <form class="mt-4">
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                       placeholder="Cardholder's Name" required/>
                                <label class="form-label" for="typeName">Cardholder's Name</label>
                            </div>

                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="text" id="typeTextCardnum" class="form-control form-control-lg" siez="17"
                                       placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" required/>
                                <label class="form-label" for="typeTextCardnum">Card Number</label>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div data-mdb-input-init class="form-outline form-white">
                                        <input type="text" id="typeExp" class="form-control form-control-lg"
                                               placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7"
                                               required/>
                                        <label class="form-label" for="typeExp">Expiration</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div data-mdb-input-init class="form-outline form-white">
                                        <input type="password" id="typeText"
                                               class="form-control form-control-lg typeText"
                                               placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3"
                                               required/>
                                        <label class="form-label" for="typeText">Cvv</label>
                                    </div>
                                </div>
                            </div>

                        </form>

                        <hr class="my-4">

                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total </p>
                            <p class="mb-2" id="checkout_price">00.00 LE</p>
                        </div>

                        <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-info btn-block btn-lg btn-checkout">
                            <div class="d-flex justify-content-between">
                                <span onclick="checkout()">Checkout <i
                                        class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            </div>
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<br>
<!-- <script src="{% static 'javascript/cart.js' %}"></script>
<script>
    window.onload = updateCart();
</script> -->
{% endblock content %}