{% extends 'base.html' %}

{% block content %}
<div class="delete-confirmation">
    <h2>Are you sure you want to delete "{{ book.name }}"?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" 
        style="
        background-color: #dc3545; 
        border: none; 
        color: white; 
        padding: 5px 10px;
        text-align: center; 
        text-decoration: none;
        display: inline-block; 
        font-size: 14px; 
        cursor: pointer;
        border-radius: 4px;
        margin-right: 10px;">delete</button>
        
        <a href="{% url 'view' %}"
        class="cancel" 
        style="
        background-color: #ccc; 
        border: none; 
        color: black; 
        padding: 1px 10px;
        text-align: center; 
        text-decoration: none;
        display: inline-block; 
        font-size: 14px;
        cursor: pointer;
        border-radius: 4px;"  
        >Cancel</a>
    </form>
</div>
{% endblock %}