{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/details.css' %}" />
    <div class="book">
      <div class="logo"><i class="fa-solid fa-book-open icon"></i> Chapterfly</a></div>
      <h2><span id="name">{{book.name}}</span></h2>
      <p><span class="label">Price</span><span id="price">{{book.price}}</span></p>
      <p><span class="label">Author</span><span id="author">{{book.author}}</span></p>
      <p><span class="label">Category</span><span id="category">{{book.category}}</span></p>
      <p><span class="label">Availability</span><span id="available">{{book.available}}</span></p>
      <p><span class="desc" id="description">{{book.description}}</span></p>
      <!-- <button type="button" class="addToCart-btn" title="Add to cart" id="add-to-cart-button" onclick='addToCart({{book.id}}, {{book.name}}, {{book.price}}, {{book.img}}, {{book.category}})'>
        <i class="fa-solid fa-cart-shopping"></i>
    </button> -->

    <!-- <script src="{% static 'javascript/cart.js' %}"></script>
    <script src="{% static 'javascript/details.js' %}"></script> -->
    </div>
{% endblock content %}
