{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/views.css' %}" />
{% endblock style %}

{% block content %}
        <div id="user" class="hidden">
            <!-- SEARCH FORM -->
            <form method="GET" class="form-inline" action="{% url 'view' %}">
                <div class="input-group">
                <input type="search" class="form-control" name="search-name">
                <div class="input-group-append">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </div>
                </div>
            </form>

        <div class="row">
            <ul class="nav">
                {% for cat in category|slice:'4' %}
                <li class="nav-item">
                    <a href="#">{{cat.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="books">
                <!-- books items will be dynamically added here -->
                <div class="featured" id="featured">
                  <div class="container" id="container1">
                    {% for book in books %}
                        <div class="book box">
                            {% if book.img %}
                                <img src="{{book.img}}" alt="Book Image" class="book-img" sytle="width: 600px"/>

                            {% else %}
                            <img src="https://placehold.co/200x300" alt="Book Image" class="book-img" sytle="width: 600px"/>

                            {% endif %}
                            <div class="content">
                                <h3>{{book.name}}</h3>
                                <div class="status">
                                    <span>Status: </span>
                                    {% if book.status == 'available' %}
                                        <h5 style="color: #198754;">available</h5>

                                    {% elif book.status == 'borrowed' %}
                                        <h5 style="color: #FFC107;">borrowed</h5>

                                    {% endif %}

                                </div>
                                {% if book.status == 'available' %}
                                    <div class="add-to-cart">
                                        <button class="addToCart-btn" type="button" id="add-to-cart-button" onClick="addToCart({{book.id}}, '{{book.name}}', {{book.price}}, {% if book.img %}'{{book.img.url}}'{% else %}'https://placehold.co/200x300'{% endif %}, '{{book.category}}')">Add to cart</button>
                                    </div>
                                {% endif %}
                                <div class="links info">
                                    <a href="{% url 'details' book.id %}" id="{{book.id}}">Read more<i class='fas fa-long-arrow-alt-right'></i></a>
                                </div>
                            </div>
                            
                        </div>
                    {% endfor %}
                    
                  </div><!--container-->
                </div><!--featured-->
        </div>
    </div>
    </div>

    <div id="admin" class="hidden">
        <h2 class="main-title">Available Books</h2>
        <table id="bookTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% comment %} books items will be dynamically added here  {% endcomment %}
                {% for book in books %}
                <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.category}}</td>
                    <td>{{book.description}}</td>
                    <td class="Buttons">
                        <a href="{% url 'edit_book' book.id %}" 
                        style=
                        "background-color: #4caf50; 
                        margin-top: 20px;
                        right: 50%;
                        border: none; 
                        color: white; 
                        padding: 5px 15px;
                        text-align: center; 
                        text-decoration: none;
                        display: inline-block; 
                        font-size: 14px; 
                        cursor: pointer;
                        border-radius: 4px;"
                          >
                          Edit</a>

                        <a href="{% url 'delete_book' book.id %}" class="delete" 
                          style=
                          "background-color: #ef161a; 
                          margin-top: 20px;
                          right: 50%;
                          border: none; 
                          color: white; 
                          padding: 5px 5px;
                          text-align: center; 
                          text-decoration: none;
                          display: inline-block; 
                          font-size: 14px; 
                          cursor: pointer;
                          border-radius: 4px;"
                            >
                        Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>    
        
        <br>
        {% comment %} Add new book {% endcomment %}
        <div class="addingBook main-cta">
            <div class="container">
                <div class="name"><i class="fa-solid fa-book-open icon"></i> Adding Book</a></div>
                <h2>Ready to add a new book to our library?</h2>
                <p>
                    Join our community and start adding books with ease!
                </p>
                <div class="cta-buttons">
                <a href="{% url 'add_book' %}" class="primary-button">Add New Book</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'javascript/cart.js' %}"></script>
{% endblock content %}
{% block extra_scripts %}
{% comment %}
<script src="{% static 'javascript/adminORuserNovels.js' %}"></script>
{% endcomment %}
{% endblock extra_scripts %}
