#profileBody{
    padding: 0;
}
#userProfile{
    background-color:#e6e6e7;
}
#profilePic{
    alt:"Profile picture";
    width:50px;
    height:50px;
}

table{
    align-content: space-between;
}
td{
    padding: 20px;
}
#bookshelf{
    font-size: larger;
}
