body {
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.delete{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #ff0000;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Change cursor to pointer on hover */
}
.delete:hover{
    background-color: #ff00008d;
    color: white;
}
a button {
    background-color: #4CAF50; /* Green color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Change cursor to pointer on hover */
}
a button:hover {
    background-color: #45a049;
}
.addingBook .container {
    padding: 20px;
}

.addingBook {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.addingBook .container h2 {
    color: #444;
}

.addingBook p {
    color: #666;
}

.addingBook a {
    display: inline-block;
    color: #fff;
    background-color: #007BFF;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: var(--main-transition-duration);
}

.addingBook a:hover {
    background-color: #0056b3;
    transform: translateY(-10px);
    box-shadow: var(--main-box-shadow);
}

.edit{
    margin-right: 10px;
    margin-top: 10px;
    background-color: #58a3da;
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.edit, .delete{
    width: 50px;
}

.edit:hover{
    background-color: #58a4dac2;
}
