*{
    box-sizing: border-box;
}

.row {
    margin: 0 15px;
}

.row:after {
    clear: both;
}

.row:after, .row:before {
    display: table;
    content: " ";
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered>tbody>tr>td{
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
}

.main-container {
    width: 100%;
    padding: 20px;
}

.col-sm-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 480px){
    .table-responsive {
        overflow-y: auto;
    }
}

.form-group {
    margin-bottom: 15px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 767px){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}

@media (min-width: 768px){
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
}

.empty{
    text-align: center;
    padding: 5%;
    color: #58a3da;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.text-right {
    text-align: right;
}

a, a:visited, a:active, a:link, a:focus {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover{
    background-color: #2e6da4;
}

.btn-checkout{
    background-color: #B3DFFF;
}
.btn-checkout:hover{
    background-color: #58a3da;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pull-left {
    float: left;
    margin-left: 20px;
}

.pull-right {
    float: right;
    margin-right: 20px;
}

.checkout{
    display: flex;
    justify-content: center;
}

.checkout > div{
    width: 70%;
}
