:root {
    --main-transition-duration: 0.3s;
    /* Option one */
    --primary: #333A73;
    --secondary: #378CE7;
    --accent: #67C6E3;
    --bgcolor: #EFFAFC;
  
    /* Option two */
    --prim: rgb(187, 222, 251);
    --second: rgb(121, 160, 86);
    --accent2: rgb(255, 215, 0);
  }
  * {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
  }

  /* small screens */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* medium screens */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* large screens */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/** ----------------------- User ----------------------- */

/** ----------------------- Search  ----------------------- */

#searchInput {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.searchBtn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.searchBtn:hover {
    background-color: #0056b3;
}

search{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/** ----------------------- Programming ----------------------- */

#programming .intro, .conclusion {
    font-style: italic;
    font-size: larger;
    color: #333;
    background-color: #effafc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#programming .book-img{
    width: 20px;
}

a[href^="Programming Books/"] {
    display: block;
    margin-bottom: 10px;
}


#programming .box {
    position: relative;
}

#programming .add-to-cart {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: none; /* Hide it by default */
    
}

#programming .box:hover .add-to-cart {
    display: block; /* Show it on hover */
}

#programming .addToCart-btn{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: visible;
    box-sizing: border-box;
    font: inherit;
    overflow: visible;
    -webkit-appearance: button;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    background-color: #58a3da;
    border-radius: 18px;
    padding: 0 10px;
    height: 34px;
    line-height: 100%;
    border: none;
    position: relative;
    top: -2px;
    margin: 0 1px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transform: translateY(0px);
}

#programming .addToCart-btn:hover {
    background-color: transparent;
    border: 2px solid #58a3da;
    color: #000;
}

/** ----------------------- Novels ----------------------- */

  
#novels a {
    text-decoration: none;
  }
  #novels ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
#novels .container {
    padding: 0 15px;
    margin: 0 auto;
  }
  
     /*  search  */
  /* .search{
    width: 100%;
    height: 60px;
    background-color: transparent;
    margin-top: 10px;
    text-align: center;
  }
  .search_input{
  width:40%;
  height: 70%;
  border-radius: 5px;
  background-color: rgba(239, 239, 239);
  border: 1px solid rgba(239, 239, 239);
  font-size:16px;
  text-align: center;
  }
  /*common*/
  
  #novels .borrow_book{
    width:100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: var(--accent);
    border-radius: 10px;
    margin: 20px 0;
    line-height: 50px;
  }
  #novels .borrow_book:hover{
  background-color: var(--secondary);
  }
  #novels .welcome{
    margin-top: 0px; 
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: var(--primary);
    color: var(--bgcolor);
    line-height: 100px;
    font-size: 50px;
    letter-spacing: 7px;
  }
  #novels .best_sales{
    height: 60px;
    color: var(--primary);
    text-align: center;
    line-height: 60px;
    font-size: 70px;
    letter-spacing: 5px;
    font-style: italic;
    font-family: Garamond Premier Pro;
    font-family: "Cairo", sans-serif;
  }
  #novels .best_books{/*ul*/
    margin: 30px 50px;
    display: grid;
    place-items:center ;
    justify-content: space-between;
    grid-template-columns: repeat(5 , 1fr);
  
  }
  #novels .best_books_item{
     align-items: center;
  }
  #novels .best_books_item_img {
    image: 106px;
    height: 160px;
  }
  #novels .best_books_item_name , .best_books_item_id ,
  #novels .best_books_item_author , .best_books_item_price{
    display: block;
    font-weight:bold;
    height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(72, 71, 71);
  
  }
  #novels .overlay{
    background-color: rgba(0, 0,0,0.7);
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  #novels .fiction_section{
    margin: 20px 0;
    position: relative;
    background-image: url(../images/fiction.jpg);
    height: 300px;
    background-size: cover;
    background-attachment:fixed ;
  }
  #novels .fiction_section h2{
    color: white;
    text-align: center;
    line-height: 200px;
    font-family: Garamond Premier Pro;
    font-family: "Cairo", sans-serif;
    font-style: italic;
    font-size: 70px;
  
  }
  #novels .fiction_books{/*ul*/
    margin: 50px 50px;
    display: grid;
    place-items:center ;
    justify-content: space-between;
    grid-template-columns: repeat(5 , 1fr);
  
  }
  #novels .fiction_books_item{
     align-items: center;
  }
  #novels .fiction_books_item_img {
    image: 106px;
    height: 160px;
  }
  #novels .fiction_books_item_name , .fiction_books_item_id ,
  #novels .fiction_books_item_author , .fiction_books_item_price{
    display: block;
    font-weight:bold;
    height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(72, 71, 71);
  
  }
  #novels .historical_section{
    margin: 20px 0;
    position: relative;
    background-image: url(../images/historical.jpg);
    height: 300px;
    background-size: cover;
    background-attachment:fixed ;
  }
  #novels .historical_section h2{
    color: white;
    text-align: center;
    line-height: 200px;
    font-family: Garamond Premier Pro;
    font-family: "Cairo", sans-serif;
    font-style: italic;
    font-size: 70px;
  
  }
  #novels .historical_books{/*ul*/
    margin: 50px 50px;
    display: grid;
    place-items:center ;
    justify-content: space-between;
    grid-template-columns: repeat(5 , 1fr);
  
  }
  #novels .historical_books_item{
     align-items: center;
  }
  #novels .historical_books_item_img {
    image: 106px;
    height: 160px;
  }
  #novels .historical_books_item_name , .historical_books_item_id ,
  #novels .historical_books_item_author , .historical_books_item_price{
    display: block;
    font-weight:bold;
    height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(72, 71, 71);
  
  }
  #novels .horror_section{
  margin: 20px 0;
  position: relative;
  background-image: url(../images/horror.jpg);
  height: 300px;
  background-size: cover;
  background-attachment:fixed ;
  }
  #novels .horror_section h2{
  color: white;
  text-align: center;
  line-height: 200px;
  font-family: Garamond Premier Pro;
  font-family: "Cairo", sans-serif;
  font-style: italic;
  font-size: 70px;
  
  }
  #novels .horror_books{/*ul*/
  margin: 50px 50px;
  display: grid;
  place-items:center ;
  justify-content: space-between;
  grid-template-columns: repeat(5 , 1fr);
  
  }
  #novels .horror_books_item{
   align-items: center;
  }
  #novels .horror_books_item_img {
  image: 106px;
  height: 160px;
  }
  #novels .horror_books_item_name , .horror_books_item_id ,
  #novels .horror_books_item_author , .horror_books_item_price{
  display: block;
  font-weight:bold;
  height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(72, 71, 71);
  
  }
  #novels .investigation_section{
  margin: 20px 0;
  position: relative;
  background-image: url(../images/investigation.jpg);
  height: 300px;
  background-size: cover;
  background-attachment:fixed ;
  }
  #novels .investigation_section h2{
  color: white;
  text-align: center;
  line-height: 200px;
  font-family: Garamond Premier Pro;
  font-family: "Cairo", sans-serif;
  font-style: italic;
  font-size: 70px;
  
  }
  #novels .investigation_books{/*ul*/
  margin: 50px 50px;
  display: grid;
  place-items:center ;
  justify-content: space-between;
  grid-template-columns: repeat(5 , 1fr);
  
  }
  #novels .investigation_books_item{
   align-items: center;
  }
  #novels .investigation_books_item_img {
  image: 106px;
  height: 160px;
  }
  #novels .investigation_books_item_name , .investigation_books_item_id ,
  #novels .investigation_books_item_author , .investigation_books_item_price{
  display: block;
  font-weight:bold;
  height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(72, 71, 71);
  
  }
/** ----------------------- Comedy ----------------------- */

/* header {
    background-image: url("man-with-popcorn-cinema-auditorium\ \(3\).jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 100px 0;
    text-align: center;
} */

#comedy h1 {
    font-size: 60px;
    font-style: italic;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#comedy .book-container {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    justify-content: center;
}

#comedy .book {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* overflow: auto; */
    text-align: center;
    margin: 10px; 
    flex: 0 1 calc((100% - 300px) / 5); 
    
}
#comedy .book:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
#comedy .book img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

#comedy .book h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

#comedy .book p {
    font-size: 14px;
    color: #555;
}

/** ----------------------- Fantasy ----------------------- */

/* header {
    background-image: url("bac.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 100px 0;
    text-align: center;
} */

#fantasy h1 {
    font-size: 60px;
    font-style: italic;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#fantasy .book-container {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    justify-content: center;
}

#fantasy .book {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* overflow: auto; */
    text-align: center;
    margin: 10px; 
    flex: 0 1 calc((100% - 300px) / 5); 
    
}
#fantasy .book:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
#fantasy .book img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

#fantasy .book h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

#fantasy .book p {
    font-size: 14px;
    color: #555;
}

/** ----------------------- Borrowing ----------------------- */

/** ----------------------- Available Books ----------------------- */

.available {
    color: green;
}
.borrowed {
    color: orange;
}
.Not-available {
    color: red;
}

.Availability {
    font-family: Arial, sans-serif;
}

.Availability h2 {
    color: #333;
    text-align: center;
}

.Availability ul {
    list-style-type: none;
    padding: 5px;
    margin: 10px;
}

.Availability li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.Availability .available {
    background-color: #d4edda; /* green */
    color: #155724;
}

.Availability .borrowed {
    background-color: #ffeeba; /* yellow */
    color: #856404;
}

.Availability .Not-available {
    background-color: #f8d7da; /* red */
    color: #721c24;
}
.info{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/** ----------------------- Admin ----------------------- */

#bookTable {
    border-collapse: collapse;
    /* width: 100%; */
    max-width: 90%;
    margin: 0 auto;
}

#bookTable th, #bookTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#bookTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#bookTable tr:hover {
    background-color: #ddd;
}

#bookTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #58a3da;
    color: white;
}

.Buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit, .delete{
    width: 50px;
}

.delete{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #ff0000;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete:hover{
    background-color: #c60000;
    color: white;
}

.edit{
    margin-right: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.edit:hover{
    background-color: #46d74b;
}


/** ----------------------- Adding Book ----------------------- */