body {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
}

header {
    background-image: url("bac.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    padding: 100px 0;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-style: italic;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.book-container {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    justify-content: center;
}

.book {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* overflow: auto; */
    text-align: center;
    margin: 10px; 
    flex: 0 1 calc((100% - 300px) / 5); 
    
}
.book:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
.book img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.book h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.book p {
    font-size: 14px;
    color: #555;
}

footer #add-book-btn {
    background-color: #007bff; 
    color: #fff;
}

footer #delete-book-btn {
    background-color: #6c757d;
    color: #fff;
}

footer button:hover {
    opacity: 0.8; 
}