/* 
  Nav bar (done)
  Header (done)
  Featured books
  call to action
  benefits
  Testimonials
  call to action
*/

/* Start global rules */
:root {
  --main-transition-duration: 0.3s;
  /* Option one */
  --primary: #333a73;
  --secondary: #378ce7;
  --accent: #67c6e3;
  --bgcolor: #effafc;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  margin: 100px auto;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition-duration);
}
.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  position: absolute;
  border-radius: 50%;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  position: absolute;
  border-radius: 50%;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}

/* end global rules */

/* Start header */
.header {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .icon {
  position: relative;
  margin-right: 30px;
  margin-top: 2px;
}
.header .logo {
  color: var(--primary);
  font-weight: bold;
  font-size: 29px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--main-transition-duration);
}
.header .logo:hover {
  color:var(--secondary);
}
.header .main-nav {
  display: flex;
  justify-content: center;
}
.main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
  padding: 0 20px;
  color: var(--primary);
  transition: var(--main-transition-duration);
  font-weight: bold;
  overflow: hidden;
}
.main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: 100%;
}
.main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--secondary);
  top: 0;
  left: -100%;
  transition: var(--main-transition-duration);
}
.main-nav > li > a:hover {
  color: var(--secondary);
  background-color: #fafafa;
}
.main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 90%;
  left: 155px;
  padding: 16px;
  background-color: white;
  border-bottom: 3px solid var(--primary);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
  opacity: 0;
}
.header .mega-menu .image {
  max-width: 50%;
}
.mega-menu .image img {
  width: 100%;
}
.mega-menu .links {
  min-width: 240px;
}
.mega-menu .links li {
  position: relative;
}
.mega-menu .links li::before {
  content: "";
  top: 0;
  position: absolute;
  width: 0;
  background-color: var(--bgcolor);
  height: 100%;
  z-index: -1;
  transition: var(--main-transition-duration);
}
.mega-menu .links li:hover::before {
  width: 130px;
}
.mega-menu .links li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  background-color: var(--primary);
  transition: 0.2;
}
.mega-menu .links li:hover::after {
  width: 5px;
}
.mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid var(--primary);
}
.mega-menu .links li a {
  font-size: 16px;
  padding: 15px;
  color: var(--primary);
  font-weight: bold;
  display: block;
}
/* End header */

/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -150px;
  width: 100%;
  height: 100%;
  background-color: var(--bgcolor);
  z-index: -1;
  transform: skewY(6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 148px);
  display: flex;
  align-items: center;
}
.landing .text {
  flex: 1;
}
.landing h1 {
  letter-spacing: -1px;
  margin: 0;
}
.landing p {
  font-size: 24px;
  color: #666;
  margin: 5px 0 0;
  max-width: 80%;
}
.landing img {
  height: 400px;
  max-width: 100%;
}
/* End Landing */
