 :root {
    --main-transition-duration: 0.3s;
    /* Option one */
    --primary: #333A73;
    --secondary: #378CE7;
    --accent: #67C6E3;
    --bgcolor: #EFFAFC;
  
    /* Option two */
    --prim: rgb(187, 222, 251);
    --second: rgb(121, 160, 86);
    --accent2: rgb(255, 215, 0);
  }
  * {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
  /* small screens */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* medium screens */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* large screens */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  
  /* Start header */
.header {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .icon {
  position: relative;
  margin-right: 30px;
  margin-top: 2px;
}
.header .logo {
  color: var(--primary);
  font-weight: bold;
  font-size: 29px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--main-transition-duration);
}
.header .logo:hover {
  color: var(--secondary);
}
.header .main-nav {
  display: flex;
  justify-content: center;
}
.main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
  padding: 0 20px;
  color: var(--primary);
  transition: var(--main-transition-duration);
  font-weight: bold;
  overflow: hidden;
}
.main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: 100%;
}
.main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--secondary);
  top: 0;
  left: -100%;
  transition: var(--main-transition-duration);
}
.main-nav > li > a:hover {
  color: var(--secondary);
  background-color: #fafafa;
}
.main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 90%;
  left: 155px;
  padding: 16px;
  background-color: white;
  border-bottom: 3px solid var(--primary);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
  opacity: 0;
}
.header .mega-menu .image {
  max-width: 50%;
}
.mega-menu .image img {
  width: 100%;
}
.mega-menu .links {
  min-width: 240px;
}
.mega-menu .links li {
  position: relative;
}
.mega-menu .links li::before {
  content: "";
  top: 0;
  position: absolute;
  width: 0;
  background-color: var(--bgcolor);
  height: 100%;
  z-index: -1;
  transition: var(--main-transition-duration);
}
.mega-menu .links li:hover::before {
  width: 130px;
}
.mega-menu .links li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  background-color: var(--primary);
  transition: 0.2;
}
.mega-menu .links li:hover::after {
  width: 5px;
}
.mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid var(--primary);
}
.mega-menu .links li a {
  font-size: 16px;
  padding: 15px;
  color: var(--primary);
  font-weight: bold;
  display: block;
}
/* End header */
   



.welcome{
    margin-top: 0px; 
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: var(--primary);
    color: var(--bgcolor);
    line-height: 100px;
    font-size: 50px;
    letter-spacing: 7px;
}
.best_sales{
    height: 60px;
    color: var(--primary);
    text-align: center;
    line-height: 60px;
    font-size: 70px;
    letter-spacing: 5px;
    font-style: italic;
    font-family: Garamond Premier Pro;
    font-family: "Cairo", sans-serif;
}
.best_books{/*ul*/
    margin: 30px 50px;
    display: grid;
    place-items:center ;
    justify-content: space-between;
    grid-template-columns: repeat(5 , 1fr);

}
.best_books_item{
     align-items: center;
}
.best_books_item_img {
    image: 106px;
    height: 160px;
}
.best_books_item_name , .best_books_item_id ,
 .best_books_item_author , .best_books_item_price{
    display: block;
    font-weight:bold;
    height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(72, 71, 71);

}
.best_books_item_desc{ /*hidden for now */
    font-size: 0px;
}
.admin_best_sales{
    text-align: center;
}
.admin_best_sales{
  margin-bottom: 40px;
}
.admin_best_sales div{ /*buttons*/
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin: 0 5px;
    line-height: 50px;
}
.delete_best_sales{
    background-color: var(--accent);
}
.upload_best_sales{
    background-color: var(--accent);
}
.edit_best_sales{
  background-color: var(--accent);
}
.delete_best_sales:hover{
    background-color: var(--secondary);
}
.upload_best_sales:hover{
    background-color: var(--secondary);
}
.edit_best_sales:hover{
  background-color: var(--secondary);
}
.overlay{
    background-color: rgba(0, 0,0,0.7);
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.fiction_section{
    margin: 20px 0;
    position: relative;
    background-image: url(../images/fiction.jpg);
    height: 300px;
    background-size: cover;
    background-attachment:fixed ;
}
.fiction_section h2{
    color: white;
    text-align: center;
    line-height: 200px;
    font-family: Garamond Premier Pro;
    font-family: "Cairo", sans-serif;
    font-style: italic;
    font-size: 70px;

}
.fiction_books{/*ul*/
    margin: 50px 50px;
    display: grid;
    place-items:center ;
    justify-content: space-between;
    grid-template-columns: repeat(5 , 1fr);

}
.fiction_books_item{
     align-items: center;
}
.fiction_books_item_img {
    image: 106px;
    height: 160px;
}
.fiction_books_item_name , .fiction_books_item_id ,
 .fiction_books_item_author , .fiction_books_item_price{
    display: block;
    font-weight:bold;
    height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(72, 71, 71);

}
.fiction_books_item_desc{ /*hidden for now */
    font-size: 0px;
}
.admin_fiction_sales{
    text-align: center;
}
.admin_fiction_sales{
  margin-bottom: 40px;
}
.admin_fiction_sales div{
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin: 0 5px;
    line-height: 50px;
}
.delete_fiction_sales{
  background-color: var(--accent);
}
.upload_fiction_sales{
  background-color: var(--accent);
}
.edit_fiction_sales{
background-color: var(--accent);
}
.delete_fiction_sales:hover{
  background-color: var(--secondary);
}
.upload_fiction_sales:hover{
  background-color: var(--secondary);
}
.edit_fiction_sales:hover{
background-color: var(--secondary);
}
.historical_section{
    margin: 20px 0;
    position: relative;
    background-image: url(../images/historical.jpg);
    height: 300px;
    background-size: cover;
    background-attachment:fixed ;
}
.historical_section h2{
    color: white;
    text-align: center;
    line-height: 200px;
    font-family: Garamond Premier Pro;
    font-family: "Cairo", sans-serif;
    font-style: italic;
    font-size: 70px;

}
.historical_books{/*ul*/
    margin: 50px 50px;
    display: grid;
    place-items:center ;
    justify-content: space-between;
    grid-template-columns: repeat(5 , 1fr);

}
.historical_books_item{
     align-items: center;
}
.historical_books_item_img {
    image: 106px;
    height: 160px;
}
.historical_books_item_name , .historical_books_item_id ,
 .historical_books_item_author , .historical_books_item_price{
    display: block;
    font-weight:bold;
    height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(72, 71, 71);

}
.historical_books_item_desc{ /*hidden for now */
    font-size: 0px;
}
.admin_historical_sales{
    text-align: center;
}
.admin_historical_sales{
  margin-bottom: 40px;
}
.admin_historical_sales div{
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin: 0 5px;
    line-height: 50px;
}
.delete_historical_sales{
  background-color: var(--accent);
}
.upload_historical_sales{
  background-color: var(--accent);
}
.edit_historical_sales{
background-color: var(--accent);
}
.delete_historical_sales:hover{
  background-color: var(--secondary);
}
.upload_historical_sales:hover{
  background-color: var(--secondary);
}
.edit_historical_sales:hover{
background-color: var(--secondary);
}
.horror_section{
  margin: 20px 0;
  position: relative;
  background-image: url(../images/horror.jpg);
  height: 300px;
  background-size: cover;
  background-attachment:fixed ;
}
.horror_section h2{
  color: white;
  text-align: center;
  line-height: 200px;
  font-family: Garamond Premier Pro;
  font-family: "Cairo", sans-serif;
  font-style: italic;
  font-size: 70px;

}
.horror_books{/*ul*/
  margin: 50px 50px;
  display: grid;
  place-items:center ;
  justify-content: space-between;
  grid-template-columns: repeat(5 , 1fr);

}
.horror_books_item{
   align-items: center;
}
.horror_books_item_img {
  image: 106px;
  height: 160px;
}
.horror_books_item_name , .horror_books_item_id ,
.horror_books_item_author , .horror_books_item_price{
  display: block;
  font-weight:bold;
  height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(72, 71, 71);

}
.horror_books_item_desc{ /*hidden for now */
  font-size: 0px;
}
.admin_horror_sales{
  text-align: center;
}
.admin_horror_sales{
  margin-bottom: 40px;
}
.admin_horror_sales div{
  width: 150px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: white;
  display: inline-block;
  border-radius: 10px;
  margin: 0 5px;
  line-height: 50px;
}
.delete_horror_sales{
background-color: var(--accent);
}
.upload_horror_sales{
background-color: var(--accent);
}
.edit_horror_sales{
background-color: var(--accent);
}
.delete_horror_sales:hover{
background-color: var(--secondary);
}
.upload_horror_sales:hover{
background-color: var(--secondary);
}
.edit_horror_sales:hover{
background-color: var(--secondary);
}
.investigation_section{
  margin: 20px 0;
  position: relative;
  background-image: url(../images/investigation.jpg);
  height: 300px;
  background-size: cover;
  background-attachment:fixed ;
}
.investigation_section h2{
  color: white;
  text-align: center;
  line-height: 200px;
  font-family: Garamond Premier Pro;
  font-family: "Cairo", sans-serif;
  font-style: italic;
  font-size: 70px;

}
.investigation_books{/*ul*/
  margin: 50px 50px;
  display: grid;
  place-items:center ;
  justify-content: space-between;
  grid-template-columns: repeat(5 , 1fr);

}
.investigation_books_item{
   align-items: center;
}
.investigation_books_item_img {
  image: 106px;
  height: 160px;
}
.investigation_books_item_name , .investigation_books_item_id ,
.investigation_books_item_author , .investigation_books_item_price{
  display: block;
  font-weight:bold;
  height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(72, 71, 71);

}
.investigation_books_item_desc{ /*hidden for now */
  font-size: 0px;
}
.admin_investigation_sales{
  text-align: center;
}
.admin_investigation_sales{
  margin-bottom: 40px;
}
.admin_investigation_sales div{
  width: 150px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: white;
  display: inline-block;
  border-radius: 10px;
  margin: 0 5px;
  line-height: 50px;
}
.delete_investigation_sales{
background-color: var(--accent);
}
.upload_investigation_sales{
background-color: var(--accent);
}
.edit_investigation_sales{
background-color: var(--accent);
}
.delete_investigation_sales:hover{
background-color: var(--secondary);
}
.upload_investigation_sales:hover{
background-color: var(--secondary);
}
.edit_investigation_sales:hover{
background-color: var(--secondary);
}