.available {
    color: green;
}
.borrowed {
    color: orange;
}
.Not-available {
    color: red;
}
/* Search input */
#searchInput {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
/* Book details links */
a[href^="Programming Books/"] {
    display: block;
    margin-bottom: 10px;
}
search{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.Availability {
    font-family: Arial, sans-serif;
}

.Availability h2 {
    color: #333;
    text-align: center;
}

.Availability ul {
    list-style-type: none;
    padding: 5px;
    margin: 10px;
}

.Availability li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.Availability .available {
    background-color: #d4edda; /* green */
    color: #155724;
}

.Availability .borrowed {
    background-color: #ffeeba; /* yellow */
    color: #856404;
}

.Availability .Not-available {
    background-color: #f8d7da; /* red */
    color: #721c24;
}
.info{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.intro, .conclusion {
    font-style: italic;
    color: #333;
    background-color: #effafc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
body {
    font-family: Arial, sans-serif;
}

.borrowing .container {
    padding: 20px;
}

.borrowing {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.borrowing .container h2 {
    color: #444;
}

.borrowing p {
    color: #666;
}

.borrowing a {
    display: inline-block;
    color: #fff;
    background-color: #007BFF;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: var(--main-transition-duration);
}

.borrowing a:hover {
    background-color: #0056b3;
    transform: translateY(-10px);
    box-shadow: var(--main-box-shadow);
}
.box {
    position: relative;
}
.add-to-cart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: none; /* Hide it by default */
}

.box:hover .add-to-cart {
    display: block; /* Show it on hover */
}